// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field_with_errors input {
  border: 2px solid red;
  display: inline-block;
}